<div class="row">
  <h1 class="text-center">Авторизация</h1>
  <%= form_for(:session, :url => sessions_path) do |f| %>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <% if flash[:notice] %>
              <div data-alert class="columns small-centered alert-box warning radius">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
          <% end %>
          <%= f.label "Email" %>
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <%= f.label "Пароль" %>
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <%= f.submit "Sign in", :class => 'button radius' %>
        </div>
      </div>
  <% end %>
</div>