<li>
  Я <%=
    if achivment.achive_type == 'walk'
      render plain: "прошел"
    elsif achivment.achive_type == 'run'
      render plain: "пробежал"
    else
      render plain: "отжался"
    end %>
  <span><%= achivment.count %>
    <%=
        if achivment.achive_type == 'walk'
          render plain: "метров"
        elsif achivment.achive_type == 'run'
          render plain: "метров"
        else
          render plain: "раз"
        end %> <br/><strong> от: </strong><%= achivment.start %> <br/><strong> до: </strong><%= achivment.finish %> </span><br/>
  <%=
      if achivment.achive_type == 'walk' or achivment.achive_type == 'run'
        render :text => " <strong>за </strong>#{achivment.time} минут".html_safe
      end %><br/>
  <span class="content"><strong>Доп. информация</strong><br/><%= achivment.achive_content %></span><br/>
  <% if achivment.achive_photo.url(:medium)=="/images/medium/missing.png" %>

  <% else %>
      <a href="<%= achivment.achive_photo.url %>" data-lightbox="example-1">
        <%=
            image_tag(achivment.achive_photo.url(:medium), size: "150", class: "example-image") %>
      </a>
  <% end %>
  <br/>
  <span class="timestamp">
    <strong>Написано:</strong> <%= time_ago_in_words(achivment.created_at) %> ago.
  </span>
  <% if current_user?(achivment.user) %>
      <br/>
      <strong>
        <%= link_to "Удалить достижение", achivment, method: :delete,
                    data: {confirm: "Вы уверены, что хотите удалить достижение ?"},
                    title: achivment.achive_content %>
      </strong>
  <% end %>
  <hr/>
</li>