<div class="row">
  <h1 class="text-center">Изменение данных</h1>
  <%= form_for(@user) do |f| %>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <% if flash[:notice] %>
              <div data-alert class="columns small-centered alert-box warning radius">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
          <% end %>
          <%= f.label "Имя" %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <%= f.label "Email" %>
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <%= f.label "Информация" %>
          <%= f.text_area :info, size: "20x20" %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <%= f.label "Пароль" %>
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <%= f.label "Подтверждение пароля" %>
          <%= f.password_field :password_confirmation %>
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns text-center small-centered">
          <%= f.submit "Sign in", :class => 'button radius' %>
        </div>
      </div>
  <% end %>

</div>