<div class="wrapper">
  <div id="user_bg">
    <%= image_tag(@user.avatar.url(:medium), class: "user_avatar") %>
  </div>
  <div class="row">

    <div class="small-6 large-5 columns">
      <%= render 'follow_form' if signed_in? %>
      <% if @user.microposts.any? %>
          <h3>Посты (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
      <% end %>
      <% if @user.achivments.any? %>
          <h3>Посты (<%= @user.achivments.count %>)</h3>
          <ol class="microposts">
            <%= render @achivments%>
          </ol>
      <% end %>
    </div>
    <div class="small-6 large-7 columns">
      <h2>Личная информация </h2><br/>
      <% @user ||= current_user %>
      <p>
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.followed_users.count %>
          </strong>
          добавлено в друзья
        </a></p>

      <p>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          друзей
        </a>
      </p>

      <p><strong>Имя:</strong> <%= @user.name %></p>

      <p><strong>Email:</strong> <%= @user.email %></p>

      <p><strong>Краткая ифнормация:</strong> <%= @user.info %></p>
    </div>

    <div class="small-6 large-7 columns"><%= render 'layouts/micropost_form' %><%= render 'layouts/achivment_form' %></div>
  </div>
</div>