<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
    </section>
    <section>
      <%= render 'layouts/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
              <div class="large-6 columns">
                <% if current_user.admin? %>
                    <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
                <% end %>
                <a href="<%= request.base_url %>/users/<%= user.id %>">
                  <div class="user_avatar" style="background-image: url('<%= user.avatar.url(:medium)%>')"></div>
                </a>

                <p><strong>Имя:</strong> <%= user.name %></p>

                <p><strong>Email:</strong> <%= user.email %></p>
              </div>
          <% end %>
        </div>
    <% end %>
    <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
    <% end %>
  </div>
</div>