<% provide(:title, @title) %>
<div class="row">
  <section>
    <h1 style="text-align: center">Ваши <%= @little_title %></h1>
    <hr/>
  </section>

  <h3><%= @title %></h3>
  <% if @users.any? %>

      <% @users.each do |user| %>
          <div class="large-6 columns users_item">
            <a href="<%= request.base_url %>/users/<%= user.id %>">
              <div class="user_avatar" style="background-image: url('<%= user.avatar.url(:medium)%>')"></div>
            </a>

            <p><strong>Имя:</strong> <%= user.name %></p>

            <p><strong>Email:</strong> <%= user.email %></p>
          </div>
      <% end %>

  <% end %>
</div>