<li>
  <span class="content"><%= micropost.content %></span><br/>
  <% if micropost.microphoto.url(:medium)=="/images/medium/missing.png" %>

  <% else %>
      <a href="<%= micropost.microphoto.url %>" data-lightbox="example-1">
        <%=
            image_tag(micropost.microphoto.url(:medium), size: "150", class: "example-image") %>
      </a>
  <% end %>
  <br/>
  <span class="timestamp">
    <strong>Написано:</strong> <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
      <br/>
      <strong>
        <%= link_to "Удалить запись", micropost, method: :delete,
                    data: {confirm: "Вы уверены, что хотите удалить запись ?"},
                    title: micropost.content %>
      </strong>
  <% end %>
  <hr/>
</li>