<%= form_for(@achivment) do |f| %>
    <% if flash[:achive_error] %>
        <div data-alert class="columns small-centered alert-box warning radius">
          <%= flash[:achive_error] %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
    <div class="field">
      Выберите тип достижения:
      <%= f.select :achive_type, [['---',''],['Пробежка','run'],['Отжимания','medium'],['Спортивная ходьба','walk']] %>
      <span class="achivment_content_info">Дополнительная информация</span>
      <%= f.text_area :achive_content, placeholder: "Напишите что нибудь..." %>
      <span class="achivment_start_info">Начало пути</span>
      <%= f.text_area :start, placeholder: "Начало" %>
      <span class="achivment_finish_info">Конец пути</span>
      <%= f.text_area :finish, placeholder: "Конец" %>

      <%= number_field(:achivment, :count, step: 1) %>
      <%= number_field(:achivment, :time, step: 1) %>
      <%= f.file_field :achive_photo %>
    </div>
    <%= f.submit "Отправить", class: "button radius" %>
<% end %>
