<div class=" sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name">
          <h1><a href="<%= root_url %>">My Site</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <% if signed_in? %>
            <li><%= link_to "Профиль", current_user %></li>
            <li><%= link_to "Все пользователи", users_path %></li>
            <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
            <li><%= link_to "Выйти", signout_path %></li>
        <% else %>
            <li><%= link_to "Регистрация", signup_path %></li>
            <li><%= link_to "Авторизация", signin_path %></li>
        <% end %>

      </ul>
    </section>
  </nav>
</div>